user-todos {
  .todo-list {
    cursor: pointer;
    padding-top: 10px;
  }

  .filters {
    text-align: right;
  }

  .btn-remove-todo {
    opacity: 0;
  }

  .todo-item:hover .btn-remove-todo {
    opacity: 0.3;
  }

  .todo-item:hover .btn-remove-todo:hover {
    opacity: 1;
  }
  
}


.line-through {
  text-decoration: line-through;
}