@import "common/common";

.app {
  height: 100%;
  // background-color: $lightBgColor;
  margin-top: 70px;
  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
  }
  .spinner {
    text-align: center;
    z-index: 10;
    color: #337ab7;
  }
  .abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

