<div class="row">
  <div class="row">
    <div class="col-md-4 pull-right nopadding">
      <input ng-model="searchText" type="text" class="form-control" placeholder="Search for user">
    </div>
  </div>

  <br />

  <div class="row">
    <ul class="list-group">
      <div class="spinner abs-center" ng-if="$ctrl.loading">
        <i class="fa fa-spinner fa-spin" style="font-size:48px;"></i>
      </div>
      <a ng-if="!$ctrl.loading" ng-repeat="user in $ctrl.users | filter:searchText" 
        ui-sref="user({userId: user.id})" class="list-group-item list-group-item-action">
        {{user.id}}. {{user.name}} ({{user.username}})
        <span class="badge">Completed: {{user.tasksCompleted}}</span>
        <span class="badge alert-danger">Active: {{user.tasksActive}}</span>
      </a>
    </ul>
  </div>

</div>